<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Finance board</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </link>
    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/jumbotron/jumbotron.css" rel="stylesheet">
    </link>
</head>

<body onload="prettyPrint();">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Personal Finance</a>
        </div>

        <div sec:authorize="isAnonymous()" id="anonymous-navbar" class="navbar-collapse collapse">
            <form th:action="@{/username}" method="post" class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" name="username" placeholder="User" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="Password" class="form-control" />
                </div>
                <button type="submit" class="btn btn-success" value="Sign In">Log in</button>
            </form>
        </div>

        <div sec:authorize="isAuthenticated()" id="authenticated-navbar"  class="navbar-collapse collapse">
            <form th:action="@{/logout}" method="post" class="navbar-form navbar-right">
                <button type="submit" class="btn btn-success" value="Sign Out">Sign Out</button>
            </form>
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<div class="container" sec:authorize="isAnonymous()">
    <div class="row">
        <div class="span12">
            <div class="hero-unit">
                <h1>Welcome to Personal Finance System!</h1>
                <p>Please sign up or log in to use Personal Finance System</p>
                <a href="signup" class="btn btn-primary btn-large">Sign up</a>
            </div>
        </div>
    </div>
</div>

<div sec:authorize="isAnonymous()" class="container">
    <div class="row">
        <div class="span12">

            <h2>Our customers</h2>

            <div class="col-xs-3" >
                <div class="well">
                    <img th:src="@{/images/harrypotter.jpg}" width="75" height="75" alt="harry_pic"
                         class="img-circle"/>
                    <p><em>It's just a magical service!</em></p>
                    <p>- Harry J. Potter</p>
                </div>
            </div>

            <div class="col-xs-3">
                <div class="well">
                    <img th:src="@{/images/groot.jpg}" width="75" height="75" alt="groot_pic"
                         class="img-circle"/>
                    <p><em>I am Groot!</em></p>
                    <p>- Groot</p>
                </div>
            </div>

        </div>
    </div>
</div>

<div sec:authorize="isAuthenticated()" class="container">
    <div class="container">
        <div class="row">
            <div class="span8 offset2">
                <if th:if="${not #lists.isEmpty(balanceRecordList)}">
                    <h3>Balance</h3>
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Category</th>
                            <th>Title</th>
                            <th>Type</th>
                            <th>Value</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="balanceRecord : ${balanceRecordList}">
                                <td type="datetime" pattern="yyyy.MM.dd" th:field="${balanceRecord.date}"></td>
                                <td th:text="${balanceRecord.category}"></td>
                                <td th:text="${balanceRecord.title}"></td>
                                <td th:text="${balanceRecord.sign}"></td>
                                <td type="number" th:text="${balanceRecord.value}"></td>
                                <td><form action="delete/${balanceRecord.id}" method="post"><input type="submit" class="btn btn-danger btn-mini" value="Delete"/></form></td>
                            </tr>
                            <tr>
                                <form action="#" method="post" th:action="@{/add}" th:object="${balanceRecord}" class="form-vertical">

                                    <td><input type="date" th:field="*{date}" /></td>

                                    <td><input type="text" th:field="*{category}" /></td>

                                    <td><input type="text" th:field="*{title}" /></td>

                                    <td><input type="text" th:field="*{sign}" /></td>

                                    <td><input type="number" th:field="*{value}" /></td>

                                    <td><input type="submit" value="Add balance record" class="btn"/></td>
                                </form>
                            </tr>
                        </tbody>
                    </table>
                </if>



            </div>
        </div>
    </div>
</div>

<!--Example-->
<div sec:authorize="hasRole('USER')" class="container">
    User who has a role "USER"
</div>

<script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.min.js"></script>
</body>
</html>