<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="ru">
<head>
    <title>Finance board</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    </link>
    <link th:href="@{/css/jumbotron.css}" rel="stylesheet">
    </link>
    <link th:href="@{/css/site.css}" rel="stylesheet">
    </link>
</head>

<body onload="prettyPrint();">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Personal Finance</a>
        </div>

        <div sec:authorize="isAnonymous()" id="anonymous-navbar" class="navbar-collapse collapse">
            <form th:action="@{/login}" method="post" class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" name="username" placeholder="User" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="Password" class="form-control" />
                </div>
                <button type="submit" class="btn btn-success" value="login">Log in</button>
            </form>
        </div>

        <div sec:authorize="isAuthenticated()" id="authenticated-navbar"  class="navbar-collapse collapse">
            <form th:action="@{/logout}" method="post" class="navbar-form navbar-right">
                <button type="submit" class="btn btn-success" value="logout">Log out</button>
            </form>
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<div class="container">
    <div th:class="${messageStyle}">
        <p th:text="${systemMessage}" />
    </div>
</div>

<div class="container" sec:authorize="isAnonymous()">
    <div class="row">
        <div class="span12">
            <div class="hero-unit">
                <h1>Welcome to Personal Finance System!</h1>
                <p>Please sign up or log in to use Personal Finance System</p>
                <a href="signup" class="btn btn-primary btn-large">Sign up</a>
            </div>
        </div>
    </div>
</div>

<div sec:authorize="isAnonymous()" class="container">
    <div class="row">
        <div class="span12">

            <h2>Our customers</h2>

            <div class="col-xs-3" >
                <div class="well">
                    <img th:src="@{/images/harrypotter.jpg}" width="75" height="75" alt="harry_pic"
                         class="img-circle"/>
                    <p><em>It's just a magical service!</em></p>
                    <p>- Harry J. Potter</p>
                </div>
            </div>

            <div class="col-xs-3">
                <div class="well">
                    <img th:src="@{/images/groot.jpg}" width="75" height="75" alt="groot_pic"
                         class="img-circle"/>
                    <p><em>I am Groot!</em></p>
                    <p>- Groot</p>
                </div>
            </div>

        </div>
    </div>
</div>

<div sec:authorize="isAuthenticated()" class="container">
    <ul class="nav nav-tabs" id="tabs">
        <li class="active"><a data-target="#personal" data-toggle="tab">Personal</a></li>
        <li><a data-target="#overall" data-toggle="tab">Overall</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="personal">
            <div class="container">
                <div class="row">
                    <div class="span8 offset2">
                        <h3>Balance</h3>
                        <table id="balance_table" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Category</th>
                                    <th>Title</th>
                                    <th>Type</th>
                                    <th>Value</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <thead>
                                <tr>
                                    <form id="balance_record_add_form" action="#" method="post" th:action="@{/add}" th:object="${balanceRecord}" class="form-vertical">
                                        <td><input type="date" required = "true" th:field="*{date}" placeholder="YYYY-MM-DD" data-date-format="YYYY-MM-DD" /></td>
                                        <td><input type="text" data-parsley-maxlength="500" th:field="*{category}" /></td>
                                        <td><input type="text" required = "true" data-parsley-maxlength="500" th:field="*{title}" /></td>
                                        <td>
                                            <select th:field="*{sign}">
                                                <option value="COST">COST</option>
                                                <option value="INCOME">INCOME</option>
                                            </select>
                                        </td>
                                        <td><input type="number" required = "true" th:field="*{value}" /></td>
                                        <td><input type="submit" value="Add balance record" class="btn"/></td>
                                    </form>
                                </tr>
                            </thead>
                            <tbody>
                            <if th:if="${not #lists.isEmpty(balanceRecordList)}">
                                <tr th:each="balanceRecord : ${balanceRecordList}">
                                    <td type="text" th:text="${balanceRecord.date != null} ? ${#calendars.format(balanceRecord.date, 'dd.MM.yyyy')} : null"></td>
                                    <td th:text="${balanceRecord.category}"></td>
                                    <td th:text="${balanceRecord.title}"></td>
                                    <td th:text="${balanceRecord.sign}"></td>
                                    <td type="number" th:text="${balanceRecord.value}"></td>
                                    <td>
                                        <div style="float: left; margin-right: 5px;">
                                            <a th:href="@{/edit/__${balanceRecord.id}__}" class="btn btn-default btn-mini">Edit</a>
                                        </div>
                                        <div style="float: left;">
                                            <form action="#" method="post" th:action="@{/delete/__${balanceRecord.id}__}">
                                                <input type="submit" class="btn btn-danger btn-mini" value="Delete"/>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            </if>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="overall">
            <div class="container">
                <div class="row">
                    <div class="span8 offset2">
                        <h3>Balance</h3>
                        <table id="full_balance_table" class="table table-bordered table-striped" style="width: 100%">
                            <thead>
                            <tr>
                                <th>User</th>
                                <th>Date</th>
                                <th>Category</th>
                                <th>Title</th>
                                <th>Type</th>
                                <th>Value</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery-3.0.0.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/prettify.min.js}"></script>
<script th:src="@{/js/parsley.min.js}"></script>
<script type="text/javascript" charset="utf8" th:src="@{/js/jquery.dataTables.js}"></script>
<script type="text/javascript">
    $(document).ready( function () {
        $('#balance_table').DataTable();
    } );

    var table;
    $(document).ready(function() {
        table = $('#full_balance_table').DataTable( {
            "ajax": '/PersonalFinance/refresh',
            "sAjaxDataProp": "data"
        } );
    } );

    setInterval( function () {
        table.ajax.reload();
    }, 30000 );

    var formInstance = $('balance_record_add_form').parsley();
    console.log(field.options.maxlength);
</script>
</body>
</html>