<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Sign up page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </link>
    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/jumbotron/jumbotron.css" rel="stylesheet">
    </link>
</head>
<body>
    <form action="#" method="post" th:action="@{/addPerson}" th:object="${user}" class="form-group row">
        <label path="email">Email</label>
        <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" th:field="*{email}" />

        <label path="username">Login</label>
        <input type="text" th:field="*{username}" />

        <label path="password">Password</label>
        <input type="password" th:field="*{password}" />

        <label path="firstName">First Name</label>
        <input type="text" th:field="*{firstName}" />

        <label path="lastName">Last Name</label>
        <input type="text" th:field="*{lastName}" />

        <input type="submit" value="Add Person" class="btn"/>
    </form>
</body>
</html>